<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">{{repeatedTaskDto.taskName}} - <span class="text-muted">{{repeatedTaskDto.goalName}}</span></h5>
    <h6 class="card-subtitle mb-2 text-muted">
      <span *ngIf="repeatedTaskDto.status === 'done'">
        <i class="far fa-check-square"></i>
      </span>
      <span *ngIf="repeatedTaskDto.status === 'to do'">
        <i class="far fa-square"></i>
      </span>
      <span *ngIf="repeatedTaskDto.status === 'canceled'">
        <i class="far fa-minus-square"></i>
      </span>
      {{ repeatedTaskDto.timeTask | date:'hh' }}h - {{ repeatedTaskDto.locationName }}
    </h6>
    <p *ngIf="repeatedTaskDto.content != ''" class="card-text">{{ repeatedTaskDto.content }}</p>
  </div>
  <img *ngIf="repeatedTaskDto.publicationPictures != null" class="card-img-top" src="{{ repeatedTaskDto.publicationPictures.listPictures[0].photoUrl }}">
  <span class="mx-3" [ngClass]="{'text-center': repeatedTaskDto.publicationPictures == null, 'text-right': repeatedTaskDto.publicationPictures != null}"><i class="far fa-image fa-3x"></i></span>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <i class="far fa-comment-alt"></i> Commenter <i class="fas fa-share ml-5"></i> Partager
    </li>
  </ul>
</div>
