<div class="col">
  <div *ngIf="displayForm" class="card">
    <div class="card-body">
      <h5 class="card-title">Create your own task</h5>
      <form>
        <div class="form-group row">
          <label for="name" class="col-md-5 col-form-label">Name of action</label>
          <div class="col-md-7">
            <input type="text" class="form-control" #etatName="ngModel" name="name" [(ngModel)]= "task.name" required>
            <p style="color: red" *ngIf="etatName.errors">
              Invalid entry
            </p>
          </div>
        </div>
        <div class="form-group row">
          <label for="name" class="col-md-5 col-form-label">Description</label>
          <div class="col-md-7">
            <input type="text" class="form-control" #etatDescription="ngModel" name="name" [(ngModel)]= "task.description" required>
            <p style="color: red" *ngIf="etatDescription.errors">
              Invalid entry
            </p>
          </div>
        </div>
        <div class="form-group row">
          <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker" inline="true">
          <label for="name" class="col-md-5 col-form-label">Date</label>
          <div class="col-md-7">
            <input type="datetime" class="form-control" #etatDate="ngModel" name="name" [(ngModel)]= "task.time" required>
            <i class="fas fa-calendar input-prefix"></i>
            <p style="color: red" *ngIf="etatDate.errors">
              Invalid entry
            </p>
          </div>
        </div>
        </div>
        <div class="form-group row">
          <label for="name" class="col-md-5 col-form-label">Repetition</label>
          <div class="col-md-7">
            <input type="text" class="form-control" #etatRepetition="ngModel" name="name" [(ngModel)]= "task.repetition" required>
            <p style="color: red" *ngIf="etatName.errors">
              Invalid entry
            </p>
          </div>
        </div>
      </form>
    </div>
  </div>
  <button class="btn btn-primary" (click)="displayForm=!displayForm">Create task!</button>
</div>
